# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Build/
.vs/

# =============== #
# Asset Hunter generated #
# =============== #
[Ss]erializedBuildInfo/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.vscode
*.ide
.vs/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ======== #
# Our logs #
# ======== #
ASTROS2020-Simulator-Project/AutoMoveLog.txt
ASTROS2020-Simulator-Project/output_log.txt
Docs/
